
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    Html.RenderAction("productTable", "Product");
        }


@section scripts{
    
    <script>

        $(document).ready(function () {

          

        });


    </script>
    
    }